<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="Alexa Burakoff">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>FlatLab Frontend | About</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/theme.css" rel="stylesheet">
    <link href="css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/flexslider.css"/>
    <link href="assets/bxslider/jquery.bxslider.css" rel="stylesheet" />


      <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
     <!--header start-->
    <header class="header-frontend">
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="fa fa-bar"></span>
                        <span class="fa fa-bar"></span>
                        <span class="fa fa-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">Flat<span>Lab</span></a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html">Home</a></li>
                        <li class="active"><a href="about.html">About</a></li>
                        <li><a href="services.html">Service</a></li>
                        <li class="dropdown ">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">Feature <b class=" fa fa-angle-down"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="typography.html">Typography</a></li>
                                <li><a href="button.html">Buttons</a></li>
                            </ul>
                        </li>
                        <li><a href="portfolio.html">Portfolio</a></li>
                        <li><a href="price.html">Price</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li class="dropdown language">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <img alt="" src="img/flags/us.png">
                                <span class="username">US</span>
                                <b class=" fa fa-angle-down"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><img alt="" src="img/flags/es.png"> Spanish</a></li>
                                <li><a href="#"><img alt="" src="img/flags/de.png"> German</a></li>
                                <li><a href="#"><img alt="" src="img/flags/ru.png"> Russian</a></li>
                                <li><a href="#"><img alt="" src="img/flags/fr.png"> French</a></li>
                            </ul>
                        </li>
                        <li><input type="text" placeholder=" Search" class="form-control search"></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!--header end-->

    <!--breadcrumbs start-->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-4">
                    <h1>About us</h1>
                </div>
                <div class="col-lg-8 col-sm-8">
                    <ol class="breadcrumb pull-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Pages</a></li>
                        <li class="active">About</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs end-->

    <!--container start-->
    <div class="gray-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="person text-center feature-head">
                        <img src="img/pp-logo-circle.png" alt="">
                    </div>
                </div>
                <div class="col-lg-8 about story-box">
                    <h3>Our Story</h3>
                    <p>
                        ParkPlease launched it’s service in May 2012 for San Francisco’s Outside Lands Music Festival, held every year at Golden Gate Park.  Our launch made city and regional headlines and helped over 180,000 concert goers find stress free parking.
                    </p>
                    <p> 
                        Since then, ParkPlease has connected thousands of parking space owners to drivers looking for spaces and has successfully facilitated parking for numerous events including America’s Cup, Fleet Week, SF Giants Games and the Hardly Strictly Blue Grass Music Festival.
                    </p>
                    <p>
                        In two summer seasons of operation, ParkPlease has registered hundreds of parking spots in the San Francisco Bay Area and facilitated over $25K in revenue.
                    </p>
                </div>
            </div>
        </div>
    </div>



    <div class="container">
        <div class="row">
            <div class="text-center feature-head">
                <h1> What We Built </h1>
                <p>An online community marketplace for parking, which allows anyone to list and rent parking spaces securely and conveniently. ParkPlease eliminates the annoyance and time wasted that occurs when searching for parking spaces, making the entire experience convenient, affordable and less overwhelming.</p>
            </div>
        </div>
        <div class="row">
            <div class="hiring">
                <div class="col-lg-6 col-sm-6">
                    <div class="icon-wrap ico-bg round">
                        <i class="fa fa-laptop"></i>
                    </div>
                    <div class="content">
                        <h3 class="title">Technology</h3>
                        <p>By guiding their online users through a straightforward step-by-step process, ParkPlease is able to simplify parking transactions.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="icon-wrap ico-bg round">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="content">
                        <h3 class="title">Users</h3>
                        <p>ParkPlease has registered hundreds of parking spots as well as thousands of renters in the San Francisco Bay Area.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="hiring">
                <div class="col-lg-6 col-sm-6">
                    <div class="icon-wrap ico-bg round">
                        <i class="fa fa-cogs"></i>
                    </div>
                    <div class="content">
                        <h3 class="title">Operations</h3>
                        <p>Seamlessly add sellers and generate demand for any event of your choosing using our streamlined operational processed.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="icon-wrap ico-bg round">
                        <i class="fa fa-rocket"></i>
                    </div>
                    <div class="content">
                        <h3 class="title">Brand</h3>
                        <p>A compelling story that has been reveled by the press as well as an established presence for numerous Bay Area events.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gray-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 about">
                    <h3>Listing is easy, flexible and free</h3>
                    <p>
                        Spot Owners can share their sport and earn money while they’re not using it. Renting a spot just two days a week can yield an extra $350 per month - not too bad for doing nothing!
                    </p>
                    <p>
                        Spot owners can choose their own pricing, enter special preferences, and manage availability in their Seller Dashboard. Our technology facilitates unique special handling of each seller’s preferences, takes care of all communication to buyers, processes seller payments and handles all key exchange coordination.
                    </p>
                </div>
                <div class="col-lg-8 feature-head">
                    <img class="side-width-img" src="img/laptop-listing.png" alt="listing">
                </div>
            </div>
        </div>
    </div>




    <!--container end-->

     <!--footer start-->
     <footer class="footer">
         <div class="container">
             <div class="row">
                 <div class="col-lg-3 col-sm-3">
                     <h1>contact info</h1>
                     <address>
                         <p>Address: No.28-63877 street</p>
                         <p>lorem ipsum city, Country</p>

                         <p>Phone : (123) 456-7890</p>
                         <p>Fax : (123) 456-7890</p>
                         <p>Email : <a href="javascript:;">support@vectorlab.com</a></p>
                     </address>
                 </div>
                 <div class="col-lg-5 col-sm-5">
                     <h1>latest tweet</h1>
                     <div class="tweet-box">
                         <i class="fa fa-twitter"></i>
                         <em>Please follow <a href="javascript:;">@nettus</a> for all future updates of us! <a href="javascript:;">twitter.com/vectorlab</a></em>
                     </div>
                 </div>
                 <div class="col-lg-3 col-sm-3 col-lg-offset-1">
                     <h1>stay connected</h1>
                     <ul class="social-link-footer list-unstyled">
                         <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                         <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                         <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                         <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                         <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                         <li><a href="#"><i class="fa fa-skype"></i></a></li>
                         <li><a href="#"><i class="fa fa-github"></i></a></li>
                         <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                     </ul>
                 </div>
             </div>
         </div>
     </footer>
     <!--footer end-->

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/hover-dropdown.js"></script>
    <script type="text/javascript" src="assets/bxslider/jquery.bxslider.js"></script>
     <script defer src="js/jquery.flexslider.js"></script>

    <script src="js/jquery.easing.min.js"></script>
    <script src="js/link-hover.js"></script>


    <!--common script for all pages-->
    <script src="js/common-scripts.js"></script>


  <script>
      $(window).load(function() {
          $('[data-zlname = reverse-effect]').mateHover({
              position: 'y-reverse',
              overlayStyle: 'rolling',
              overlayBg: '#fff',
              overlayOpacity: 0.7,
              overlayEasing: 'easeOutCirc',
              rollingPosition: 'top',
              popupEasing: 'easeOutBack',
              popup2Easing: 'easeOutBack'
          });
      });

      $(window).load(function() {
          $('.flexslider').flexslider({
              animation: "slide",
              start: function(slider) {
                  $('body').removeClass('loading');
              }
          });
      });


  </script>

  </body>
</html>
