@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,400italic);



/*******************************************************************************************************/
/* =GLOBAL / MISCELLANEOUS                                                                   */
/*******************************************************************************************************/
	html {
	  font-family: 'Open Sans', sans-serif;
	}

	body {
	  min-height: 3000px;
	  padding-top: 70px;
	  font-family: 'Open Sans', sans-serif;
	  color: #444444;
	  background: #f1f1f1;
	}

	h1, h2, h3 {
		color: #2b3e50;
	}

	h3 {
		font-weight: bold;
		text-transform: uppercase;
		font-size: 2.4em;
		padding-bottom: 30px;
		margin-top: 20px;
		}


	h4 {
		font-weight: 700;
		text-transform: uppercase;
		font-size: 1.2em;
		color: #999999;
		margin-top: 40px;
		}


	h1.page-title {
		font-size: 60px;
		font-weight: bold;
		margin: 60px 0;
		font-family: 'Open Sans', sans-serif;
		text-align: center;
	}

	ol {
	display: block;
	list-style-type: decimal;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
	}

	div {
	display: block;
	}
	ul, menu, dir {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
	}
	li {
	display: list-item;
	text-align: -webkit-match-parent;
	}
	::selection {
		background: #f06862;
		color: #fff;
	}

	.animate {
	    -webkit-transition: all 0.3s ease-in-out;
	    -moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}

	.main-content {
		margin-top: 60px;
	}

	.start-section {
		padding-top: 80px;
	}

	.end-section {
		padding-bottom: 80px;
	}

/*******************************************************************************************************/
/* =HEADER                                                                 */
/*******************************************************************************************************/
	

	.header-frontend .navbar {
		background: #FFF;
		height: 100px;
		margin-bottom: 0px;
		border-color: #e7e7e7;
	}
	.header-frontend .navbar-collapse ul.navbar-nav {
		float: center;
		margin-right: 0; 
	}
	.header-frontend .navbar-nav > li {
		padding: 30px 5px;
	}
	.header-frontend .navbar-nav > li > a {
		padding-bottom: 6px;
		padding-top: 5px;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		margin-left: 2px;
		line-height: 30px;
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		-ms-transition: all .3s ease;
		-o-transition: all .3s ease;
		transition: all .3s ease;
	}
	.header-frontend .nav li a, 
	.header-frontend .nav li.active ul.dropdown-menu li a {
		color: #999;
		font-size: 14px;
		font-weight: 300;
		background: none;
	}

	.header-frontend .nav li.active ul.dropdown-menu {
		margin-right: 20px;
	}
	.header-frontend .nav li a:hover, 
	.header-frontend .nav li a:focus, 
	.header-frontend .nav li.active a, 
	.header-frontend .nav li.active a:hover, 
	.header-frontend .nav li a.dropdown-toggle:hover, 
	.header-frontend .nav li a.dropdown-toggle:focus, 
	.header-frontend .nav li.active ul.dropdown-menu li a:hover, 
	.header-frontend .nav li.active ul.dropdown-menu li.active a {
		color: #fff;
		background-color: #f06862;
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		-ms-transition: all .3s ease;
		-o-transition: all .3s ease;
		transition: all .3s ease;
	}



	.breadcrumbs {
		background: #2b3e50;
		color: #fff;
		padding: 45px 0;
		margin-bottom: 40px;
	}
	.breadcrumbs h1 {
		font-size: 24px;
		font-weight: 600;
		margin: 20px 0 0;
		text-transform: uppercase;
		color: #fff;
	}
	.breadcrumb {
		margin-bottom: 0;
		background: none;
	}
	.breadcrumb>li {
		display: inline-block;
	}
	.breadcrumb li a {
		color: rgba(255,255,255,.4);
	}
	.breadcrumb li.active a{
		color: #ffffff;
	}
	.breadcrumb>li+li:before {
		padding: 0 5px;
		color: #ccc;
		content: "/\00a0";
	}

	.breadcrumb li a:hover {
		color: rgba(255,255,255, .8);
	}

	.breadcrumbs>.breadcrumb>li>a:hover{
		background-color: #fff;
	}

/*******************************************************************************************************/
/* =RANDOM PAGE SPECIFIC                                                                 */
/*******************************************************************************************************/
	.mac-display h1 {
		color: white;
	}

	.first-container {
		margin-top: 100px;
	}

	.line {
		border-top: 2px solid #eee;
		padding: 160px 0 40px 0;
	}

	#page-wrapper {
	  width: 100%;
	}

	.bhoechie-tab-content ul {
		list-style-type: none;
		display: block;
		list-style-type: none;
		-webkit-margin-before: 10px;
		-webkit-margin-after: 30px;
		-webkit-margin-start: 0px;
		-webkit-margin-end: 0px;
		-webkit-padding-start: 0px;
	}

	.bhoechie-tab-content ul li {
		line-height: 40px;
		margin-left: 0;
		padding-left: 0;
	}
	.bhoechie-tab-content h3 {
		line-height: 40px;
		margin-left: 0;
		padding-left: 0;
	}
	.tourpackages-carousel {
		margin: 40px 0;
	}


	a.call-attention {
		font-size: 1.3em;
		font-weight: bold;
	}

	a.cody {
		color: #DE5A51;
	}
	        .dropdown-large {
	  position: static !important;
	}

	#slider-fancy {
		background-color: #fff;
		margin-top: -20px;
		padding: 100px 100px 400px 100px;
	}

	#components {
		x-background-color: #505b71;
		background-color: #edeff1;
	}

/*******************************************************************************************************/
/* =fade quote carousel                                                                     */
/*******************************************************************************************************/



	.flipgrid-row .flipgrid .item {
		top:0; 
	
	}

	.flipgrid-row .col-md-2, .flipgrid-row .col-md-1{
		padding-left: 0;
		padding-right:0;
		margin: 0;
	}

	.flipgrid .carousel-inner .item {

	  opacity: 0;
	  -webkit-transition-property: opacity;
	      -ms-transition-property: opacity;
	          transition-property: opacity;
	}

	.flipgrid .carousel .carousel-inner .active {
	  opacity: 1;
	  -webkit-transition-property: opacity;
	      -ms-transition-property: opacity;
	          transition-property: opacity;
	}
	.flipgrid .carousel-inner .item img {
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.xflipgrid .carousel-inner .item {
		opacity: 0;
		-webkit-transform: rotateX(0deg);
	}

	.xflipgrid .carousel-inner .item .active {
		opacity: 1;
		 -webkit-transform: rotateX(360deg);
	}


	.am-wrapper{
		float:left;
		position:relative;
		overflow:hidden;
	}
	.am-wrapper img{
		position:absolute;
		outline:none;
	}


	#fluid-grid {
		height:800px;
	}


	#am-container img {
	  position: relative;
	  display: none;
	  -webkit-transition: .6s ease-in-out left;
	       -o-transition: .6s ease-in-out left;
	          transition: .6s ease-in-out left;
	}

/*******************************************************************************************************/
/* =dropdown menu                                                                      */
/*******************************************************************************************************/
		.dropdown-menu-large {
		  margin-left: 16px;
		  margin-right: 16px;
		  padding: 20px 0px;
		}
		.dropdown-menu-large > li > ul {
		  padding: 0;
		  margin: 0;
		}
		.dropdown-menu-large > li > ul > li {
		  list-style: none;
		}
		.dropdown-menu-large > li > ul > li > a {
		  display: block;
		  padding: 3px 20px;
		  clear: both;
		  font-weight: normal;
		  line-height: 1.428571429;
		  color: #333333;
		  white-space: normal;
		}
		.dropdown-menu-large > li ul > li > a:hover,
		.dropdown-menu-large > li ul > li > a:focus {
		  text-decoration: none;
		  color: #262626;
		  background-color: #f5f5f5;
		}
		.dropdown-menu-large .disabled > a,
		.dropdown-menu-large .disabled > a:hover,
		.dropdown-menu-large .disabled > a:focus {
		  color: #999999;
		}
		.dropdown-menu-large .disabled > a:hover,
		.dropdown-menu-large .disabled > a:focus {
		  text-decoration: none;
		  background-color: transparent;
		  background-image: none;
		  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
		  cursor: not-allowed;
		}
		.dropdown-menu-large .dropdown-header {
		  color: #428bca;
		  font-size: 18px;
		}
		@media (max-width: 768px) {
		  .dropdown-menu-large {
		    margin-left: 0 ;
		    margin-right: 0 ;
		  }
		  .dropdown-menu-large > li {
		    margin-bottom: 30px;
		  }
		  .dropdown-menu-large > li:last-child {
		    margin-bottom: 0;
		  }
		  .dropdown-menu-large .dropdown-header {
		    padding: 3px 15px !important;
		  }
		}

/*******************************************************************************************************/
/* =bhoechie-tab                                                                         */
/*******************************************************************************************************/
		div.bhoechie-tab-container{
		  z-index: 10;
		  background-color: #ffffff;
		  padding: 0 !important;
		  border-radius: 4px;
		  -moz-border-radius: 4px;
		  border:1px solid #ddd;
		  margin-top: 20px;
		  margin-left: 0;
		  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
		  box-shadow: 0 6px 12px rgba(0,0,0,.175);
		  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
		  background-clip: padding-box;
		  opacity: 0.97;
		  filter: alpha(opacity=97);
		}
		div.bhoechie-tab-menu{
		  padding-right: 0;
		  padding-left: 0;
		  padding-bottom: 0;
		}
		div.bhoechie-tab-menu div.list-group{
		  margin-bottom: 0;

		}
		div.bhoechie-tab-menu div.list-group>a{
		  margin-bottom: 0;
		  padding: 10px 0;

		}
		div.bhoechie-tab-menu div.list-group>a .glyphicon,
		div.bhoechie-tab-menu div.list-group>a .fa {
		  color: #5A55A3;


		}
		div.bhoechie-tab-menu div.list-group>a:first-child{
		  border-top-right-radius: 0;
		  -moz-border-top-right-radius: 0;
		}
		div.bhoechie-tab-menu div.list-group>a:last-child{
		  border-bottom-right-radius: 0;
		  -moz-border-bottom-right-radius: 0;
		}
		div.bhoechie-tab-menu div.list-group>a.active,
		div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
		div.bhoechie-tab-menu div.list-group>a.active .fa{
		  background-color: #5A55A3;
		  background-image: #5A55A3;
		  color: #ffffff;
		}
		div.bhoechie-tab-menu div.list-group>a.active:after{
		  content: '';
		  position: absolute;
		  left: 100%;
		  top: 50%;
		  margin-top: -13px;
		  border-left: 0;
		  border-bottom: 13px solid transparent;
		  border-top: 13px solid transparent;
		  border-left: 10px solid #5A55A3;
		}

		div.bhoechie-tab-content{
		  background-color: #ffffff;
		  /* border: 1px solid #eeeeee; */
		  padding: 30px 15px;
		}

		div.bhoechie-tab div.bhoechie-tab-content:not(.active){
		  display: none;
		}

/*******************************************************************************************************/
/* =THUMBNAILS                                                                         */
/*******************************************************************************************************/

	.thumbnail {
	    position: relative;
	    padding: 0px;
	    margin-bottom: 20px;
	    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
			    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
	}
	.thumbnail img {
	    width: 100%;
	    border-bottom: 1px solid #eee;
	}
	.thumbnail h4 {
		font-weight: bold;
		color: #475268;
	}
		.thumbnail-hover {
	    position:relative;
	    overflow:hidden;
	    height: 200px;
	}
	 
	.thumbnail-hover .caption {
	    position:absolute;
	    top:0;
	    right:0;
	    background:rgba(52,75,94, 0.75);
	    width:100%;
	    height:100%;
	    padding:2%;
	    display: none;
	    text-align:center;
	    color:#fff !important;
	    z-index:2;
	}


	.thumbnail-hover .caption h4 {
		color: #fff;
	}

	.card-long {
		height: 400px;
	}

	.card-long img {
		max-height: 60%;
		border-bottom: 1px solid #ddd;

	}
	.card-long .caption {
		position: absolute;
		bottom: 8px;
		left: 5px;
		right: 5px;
		padding: 0 7px;
	}


/*******************************************************************************************************/
/* =BUTTONS                                                                         */
/*******************************************************************************************************/
		

	/*-------------------------- btn -------------------------- */ 
		.btn {
		  font-size: 15px;
		  font-weight: normal;
		  line-height: 1.4;
		  border-radius: 4px;
		  border: 1px solid transparent;
		  padding: 10px 15px;
		  -webkit-font-smoothing: subpixel-antialiased;
		  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
		  transition: border .25s linear, color .25s linear, background-color .25s linear;
		}
		.btn:hover,
		.btn:focus {
		  outline: none;
		  color: #ffffff;
		}
		.btn:active,
		.btn.active {
		  outline: none;
		  -webkit-box-shadow: none;
		  box-shadow: none;
		}

	/*-------------------------- btn-default -------------------------- */ 
		.btn-default {
		  color: #ffffff;
		  background-color: #bdc3c7;
		}
		.btn-default:hover,
		.btn-default:focus,
		.btn-default:active,
		.btn-default.active,
		.open .dropdown-toggle.btn-default {
		  color: #ffffff;
		  background-color: #cacfd2;
		  border-color: #cacfd2;
		}
		.btn-default:active,
		.btn-default.active,
		.open .dropdown-toggle.btn-default {
		  background: #a1a6a9;
		  border-color: #a1a6a9;
		}
		.btn-default.disabled,
		.btn-default[disabled],
		fieldset[disabled] .btn-default,
		.btn-default.disabled:hover,
		.btn-default[disabled]:hover,
		fieldset[disabled] .btn-default:hover,
		.btn-default.disabled:focus,
		.btn-default[disabled]:focus,
		fieldset[disabled] .btn-default:focus,
		.btn-default.disabled:active,
		.btn-default[disabled]:active,
		fieldset[disabled] .btn-default:active,
		.btn-default.disabled.active,
		.btn-default[disabled].active,
		fieldset[disabled] .btn-default.active {
		  background-color: #bdc3c7;
		  border-color: #bdc3c7;
		}
	/*-------------------------- btn-primary --------------------------*/	
		.btn-primary {
		  color: #ffffff;
		  background-color: #1abc9c;
		}
		.btn-primary:hover,
		.btn-primary:focus,
		.btn-primary:active,
		.btn-primary.active,
		.open .dropdown-toggle.btn-primary {
			color: #ffffff;
			background-color: #48c9b0;
			border-color: #48c9b0;
		}
		.btn-primary:active,
		.btn-primary.active,
		.open .dropdown-toggle.btn-primary {
			background: #16a085;
			border-color: #16a085;
		}
		.btn-primary:active,
		.btn-primary.active,
		.open .dropdown-toggle.btn-primary {
			background: #16a085;
			border-color: #16a085;
		}
		.btn-primary.disabled,
		.btn-primary[disabled],
		fieldset[disabled] .btn-primary,
		.btn-primary.disabled:hover,
		.btn-primary[disabled]:hover,
		fieldset[disabled] .btn-primary:hover,
		.btn-primary.disabled:focus,
		.btn-primary[disabled]:focus,
		fieldset[disabled] .btn-primary:focus,
		.btn-primary.disabled:active,
		.btn-primary[disabled]:active,
		fieldset[disabled] .btn-primary:active,
		.btn-primary.disabled.active,
		.btn-primary[disabled].active,
		fieldset[disabled] .btn-primary.active {
			background-color: #1abc9c;
			border-color: #1abc9c;
		}

	/*-------------------------- btn-info --------------------------*/		
		.btn-info {
			color: #ffffff;
			background-color: #3498db;
		}
		.btn-info:hover,
		.btn-info:focus,
		.btn-info:active,
		.btn-info.active,
		.open .dropdown-toggle.btn-info {
			color: #ffffff;
			background-color: #5dade2;
			border-color: #5dade2;
		}
		.btn-info:active,
		.btn-info.active,
		.open .dropdown-toggle.btn-info {
			background: #2c81ba;
			border-color: #2c81ba;
		}
		.btn-info.disabled,
		.btn-info[disabled],
		fieldset[disabled] .btn-info,
		.btn-info.disabled:hover,
		.btn-info[disabled]:hover,
		fieldset[disabled] .btn-info:hover,
		.btn-info.disabled:focus,
		.btn-info[disabled]:focus,
		fieldset[disabled] .btn-info:focus,
		.btn-info.disabled:active,
		.btn-info[disabled]:active,
		fieldset[disabled] .btn-info:active,
		.btn-info.disabled.active,
		.btn-info[disabled].active,
		fieldset[disabled] .btn-info.active {
			background-color: #3498db;
			border-color: #3498db;
		}

	/*-------------------------- btn-embossed --------------------------*/	
		.btn-embossed {
		  -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
		  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
		}
		.btn-embossed.active,
		.btn-embossed:active {
		  -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);
		  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);
		}

	/*-------------------------- button sizes --------------------------*/	
		.btn-hg {
		  padding: 13px 20px;
		  font-size: 22px;
		  line-height: 1.227;
		  border-radius: 6px;
		}
		.btn-lg {
		  padding: 10px 19px;
		  font-size: 17px;
		  line-height: 1.471;
		  border-radius: 6px;
		}
		.btn-sm {
		  padding: 9px 13px;
		  font-size: 13px;
		  line-height: 1.385;
		  border-radius: 4px;
		}
		.btn-xs {
		  padding: 6px 9px;
		  font-size: 12px;
		  line-height: 1.083;
		  border-radius: 3px;
		}
		.btn-wide {
		  min-width: 140px;
		  padding-left: 30px;
		  padding-right: 30px;
		}


/*******************************************************************************************************/
/* =SIDE BAR MENU                                                                         */
/*******************************************************************************************************/


	#home {
		padding-bottom: 200px;
		background-color: #fff;
		margin-top: -40px;
	}
	#sb-content-wrapper {
	  padding-left: 150px;
	  transition: all 0.4s ease 0s;
	}
	#sidebar-wrapper {
	  margin-left: -150px;
	  left: 150px;
	  width: 150px;
	  top:50px;
	  background: #34393A;
	  position: fixed;
	  height: 100%;
	  overflow-y: auto;
	  z-index: 1000;
	  transition: all 0.4s ease 0s;
	}
	#sb-content-wrapper.active {
	  padding-left: 0;
	}
	#sb-content-wrapper.active #sidebar-wrapper {
	  left: 0;
	}
	.sidebar-nav {
	  position: absolute;
	  top: 0;
	  width: 150px;
	  list-style: none;
	  margin: 0;
	  padding: 0;
	}
	.sidebar-nav li {
	  line-height: 40px;
	  text-indent: 20px;
	  border-bottom: 1px solid rgba(0,0,0,.1)
	}
	.sidebar-nav li a {
	  color: #999999;
	  display: block;
	  text-decoration: none;
	  padding-left: 20px;
	  font-size: 18px;
	  line-height: 60px;
	  font-weight: 300;
	}
	.sidebar-nav li a span:before {
	  position: absolute;
	  left: 0;
	  color: #41484c;
	  text-align: center;
	  width: 20px;
	  line-height: 18px;
	}
	.sidebar-nav li a:hover,
	.sidebar-nav li.active {
	  color: #fff;
	  background: rgba(255,255,255,0.2);
	  text-decoration: none;
	}
	.sidebar-nav li a:active,
	.sidebar-nav li a:focus {
	  text-decoration: none;
	}
	.sidebar-nav > .sidebar-brand {
	  height: 65px;
	  line-height: 60px;
	  font-size: 18px;
	}
	.sidebar-nav > .sidebar-brand a {
	  color: #999999;
	}
	.sidebar-nav > .sidebar-brand a:hover {
	  color: #fff;
	  background: none;
	}
	.inset .container {
		padding-top: 60px;
	}

	.content-header {
	  height: 65px;
	  line-height: 65px;
	}
	.content-header h1 {
	  margin: 0;
	  margin-left: 20px;
	  line-height: 65px;
	  display: inline-block;
	  color: #34393A;
	  padding: 40px 0;
	}
	#menu-toggle {
	    text-decoration: none;
	}
	.btn-menu {
	  color: #000;
	} 
	.inset {
	  color: rgba(52,57,58,.7);
	}
	@media (max-width:767px) {
		#sb-content-wrapper {
		  padding-left: 0;
		}
		#sidebar-wrapper {
		  left: 0;
		}
		#sb-content-wrapper.active {
		  position: relative;
		  left: 250px;
		}
		#sb-content-wrapper.active #sidebar-wrapper {
		  left: 250px;
		  width: 250px;
		  transition: all 0.4s ease 0s;
		}
		#menu-toggle {
		  display: inline-block;
		}

		.inset {
		  padding: 15px;
		}
	}


/*******************************************************************************************************/
/* =PROFILE WIDGET                                                                        */
/*******************************************************************************************************/

	#profile-widget {
		background-color: #fff;
		padding-top: 50px;
	}

	.profile-widget {
		margin-bottom: 100px;
	}

	.panel-shadow {
	    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
	}
	.panel-white {
	  border: 1px solid #dddddd;
	}
	.panel {
	    font-size: 13px;
	    color: #454545;
	    background: #fafafa;
	    position: relative;
	    overflow-x: hidden;
	    font-family: 'Source Sans Pro', 'Oxygen', sans-serif;
	}
	.panel-white  .panel-heading {
	  color: #333;
	  background-color: #fff;
	  border-color: #ddd;
	}
	.panel-white  .panel-footer {
	  background-color: #fff;
	  border-color: #ddd;
	}
	.bg2 {
	    background-image: url('http://lorempixel.com/560/344/sports/1/');
	}
	.profile-widget {
	  position: relative;
	}
	.profile-widget .image-container {
	  background-size: cover;
	  background-position: center;
	  padding: 190px 0 10px;
	}
	.profile-widget .image-container .profile-background {
	  width: 100%;
	  height: auto;
	}
	.profile-widget .image-container .avatar {
	  width: 120px;
	  height: 120px;
	  border-radius: 50%;
	  margin: 0 auto -60px;
	  display: block;
	}
	.profile-widget .details {
	  padding: 50px 15px 15px;
	  text-align: center;
	}   


/*******************************************************************************************************/
/* =DOCTOR CARDS                                                                       */
/*******************************************************************************************************/

	.home-doctors {
	  text-align: center;
	  padding: 90px 0 180px;
	  background: #f1f1f1;
	}
	.home-doctors h2 {
	    font-weight: normal;
	}
	.home-doctors .common-doctor {
	  background-color: #fff;
	}
	.home-doctors .common-doctor figure {
	  overflow: hidden;
	  width: 100%;
		height: 196px;
	}
	.home-doctors img {
		width: 100%;
		height: auto;
		margin-top: -6em;
	}
	.home-doctors .common-doctor h5 {
	  margin: 0 0 7px;
	  font-size: 18px;
		font-weight: 700;
		color: #3a3c41;
	}
	.home-doctors .common-doctor .for-border {
	  margin-bottom: 20px;
	}
	.home-doctors .common-doctor .text-content {
	  padding: 19px 14px 13px;
	}
	.home-doctors.doctors-var-two {
	  text-align: left;
	  background-color: #fff;
	}
	.home-doctors.doctors-var-two .slogan-section {
	  text-align: left;
	}
	.home-doctors.doctors-var-two .common-doctor {
	  background-color: transparent;
	}
	.home-doctors.doctors-var-two .common-doctor .for-border {
	  display: none;
	}
	.home-doctors.doctors-var-two .common-doctor .text-content {
	  padding: 20px 0 20px;
	}
	.home-doctors.doctors-var-two .text-center {
	  text-align: left;
	}
	.slogan-section {
		margin-bottom: 50px;
		text-align: center;
	}
	.home-doctors .common-doctor .for-border {
		margin-bottom: 20px;
	}
	.for-border {
		height: 11px;
		width: 100%;
		background: transparent url(http://omarhabash.com/nova/wp-content/uploads/2014/08/feature-border.png) center center no-repeat;
		border: none;
	}
	.home-doctors .common-doctor h5 small {
		color: #008fd5;
		font-weight: bold;
		font-size: 0.8em;
		font-style: italic;
	}
	.home-doctors .common-doctor ul{
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		margin-top: -28px;
		text-align: center;
		margin-top: 10em;
		opacity: 0;
		z-index: 1;
	}
	.home-doctors .common-doctor li a {
		background: #008fd5;
		color: white;
		padding: 0.75em;
		border: 5px solid rgba(255, 255, 255, 0.33);
	}
	.doc-img{
		 /* Webkit for Chrome and Safari */
	  -webkit-transform: scale(1, 1); // This is the scale for the normal size of the image.
	  -webkit-transition-duration: 500ms;
	  -webkit-transition-timing-function: ease-out;
	 
	  /* Webkit for Mozila Firefox */
	  -moz-transform: scale(1, 1);
	  -moz-transition-duration: 500ms;
	  -moz-transition-timing-function: ease-out;
	 
	  /* Webkit for IE( Version: 11, 10 ) */
	  -ms-transform: scale(1, 1);
	  -ms-transition-duration: 500ms;
	  -ms-transition-timing-function: ease-out;
	}
	.doc-item:hover .doc-img{
		 /* Webkit for Chrome and Safari */
	  -webkit-transform: scale(1.2, 1.2); // This is the enlarged size scale of the image.
	  -webkit-transition-duration: 500ms;
	  -webkit-transition-timing-function: ease-out;
	 
	  /* Webkit for Mozila Firefox */
	  -moz-transform: scale(1.2, 1.2);
	  -moz-transition-duration: 500ms;
	  -moz-transition-timing-function: ease-out;
	 
	  /* Webkit for IE( Version: 11, 10 ) */
	  -ms-transform: scale(1.20, 1.20);
	  -ms-transition-duration: 500ms;
	  -ms-transition-timing-function: ease-out;

	  opacity: 0.7;
	}
	.doc-item:hover .social-lists{
		margin-top: -2em;
		opacity: 1;
	}


/*******************************************************************************************************/
/* =TIMLEINE                                                                     */
/*******************************************************************************************************/

	#timeline {
		background-color: #fff;
		padding-top: 50px;
	}

	.timeline{
	    position:relative;
	    margin-bottom:100px;
	    z-index:1;
	}

	.timeline:before{
	    display:block;
	    content:"";
	    position:absolute;
	    width:50%;
	    height:100%;
	    left:1px;
	    top:0;
	    border-right:1px solid #5CC9DF;
	    z-index:-1;
	} 

	.timeline:after{
	    display:block;
	    content:"";
	    position:absolute;
	    width:50%;
	    height:100px;
	    left:1px;
	    bottom:-105px;
	    border-right:1px dashed #5CC9DF;
	    z-index:-1;
	} 

	.timeline .date-title{
	    text-align:center;
	    margin:70px 0 50px;
	}

	.timeline .date-title span{
	    padding:15px 30px;
	    font-size:21px;
	    font-weight:400;
	    color:#fff;
	    background:#5CC9DF;
	    border-radius:5px;
	}

	.news-item {
	    padding-bottom:45px;
	}

	.news-item.right {
	    float:right;
	    margin-top:40px;
	}

	.news-item .news-content {
	    margin:20px 30px 0 0;
	    position:relative;
	    padding:30px;
	    padding-left:100px;
	    background:#f5f5f5;
	    border-radius:10px;
	    box-shadow:-5px 5px 0 rgba(0,0,0,0.08);
	    -webkit-transition:all .3s ease-out;
	    transition:all .3s ease-out;
	}

	.news-item:hover .news-content {
	    background:#5CC9DF;
	    color:#fff;
	}

	.news-item.right .news-content {
	    margin:20px 0 0 30px;
	    box-shadow:5px 5px 0 rgba(0,0,0,0.08);
	}

	.news-item .news-content:after {
	    display:block;
	    content:"";
	    position:absolute;
	    top:50px;
	    right:-40px;
	    width:0px;
	    height:0px;
	    background:transparent;
	    border:20px solid transparent;
	    border-left:20px solid #f5f5f5;
	    -webkit-transition:border-left-color .3s ease-out;
	    transition:border-left-color .3s ease-out;
	}

	.news-item.right .news-content:after {
	    position:absolute;
	    left:-40px;
	    right:auto;
	    border-left:20px solid transparent;
	    border-right:20px solid #f5f5f5;
	    -webkit-transition:border-right-color .3s ease-out;
	    transition:border-right-color .3s ease-out;
	}

	.news-item:hover .news-content:after {
	    border-left-color:#5CC9DF;
	}

	.news-item.right:hover .news-content:after {
	    border-left-color:transparent;
	    border-right-color:#5CC9DF;
	}

	.news-item .news-content:before {
	    display:block;
	    content:"";
	    position:absolute;
	    width:20px;
	    height:20px;
	    right:-55px;
	    top:60px;
	    background:#5CC9DF;
	    border:3px solid #fff;
	    border-radius:50%;
	    -webkit-transition:background .3s ease-out;
	    transition:background .3s ease-out;
	}

	.news-item.right .news-content:before {
	    left:-55px;
	    right:auto;
	}

	.news-content .date {
	    position:absolute;
	    width:80px;
	    height:80px;
	    left:10px;
	    text-align:center;
	    color:#5CC9DF;
	    -webkit-transition:color .3s ease-out;
	    transition:color .3s ease-out;
	}

	.news-item:hover .news-content .date {
	    color:#fff;
	}

	.news-content .date p{
	    margin:0;
	    font-size:48px;
	    font-weight:600;
	    line-height:48px;
	}

	.news-content .date small{
	    margin:0;
	    font-size:26px;
	    font-weight:300;
	    line-height:24px;
	}

	.news-content .news-title{
	    font-size:24px;
	    font-weight:300;
	}

	.news-content p{
	    font-size:16px;
	    line-height:24px;
	    font-weight:300;
	    letter-spacing:0.02em;
	    margin-bottom:10px;
	}

	.news-content .read-more,
	.news-content .read-more:hover,
	.news-content .read-more:active,
	.news-content .read-more:focus{
	    padding:10px 0;
	    text-decoration:none;
	    font-size:16px;
	    color:#7A7C7F;
	    line-height:24px;
	}

	.news-item:hover .news-content .read-more,
	.news-item:hover .news-content .read-more:hover,
	.news-item:hover .news-content .read-more:active,
	.news-item:hover .news-content .read-more:focus{
	    color:#fff;
	}

	.news-content .read-more{
	    -webkit-transition:padding .3s ease-out;
	    transition:padding .3s ease-out;
	}

	.news-content .read-more:hover {
	    padding-left:7px;
	}

	.news-content .read-more:after{
	    content:'\f054';
	    padding-left:15px;
	    font-family:'FontAwesome';
	    font-size:21px;
	    line-height:21px;
	    color:#5CC9DF;
	    vertical-align:middle;
	    -webkit-transition:padding .3s ease-out;
	    transition:padding .3s ease-out;
	}

	.news-content .read-more:hover:after{
	    padding-left:20px;
	}

	.news-item:hover .news-content .read-more:after{
	    color:#fff;
	}

	.news-content .news-media{
	    position:absolute;
	    width:80px;
	    bottom:-45px;
	    right:40px;
	    border-radius:8px;
	}

	.news-content .news-media img{
	    border-radius:8px;
	    transform:scale(1);
	    -webkit-transition:-webkit-transform .3s ease-out;
	    transition:transform .3s ease-out;
	}

	.news-content .news-media a{
	    display:block;
		text-decoration:none;
	    background:#fff;
	    border-radius:8px;
	    overflow:hidden;
	    -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
	}

	.news-content .news-media a:hover img{
	    -webkit-transform:scale(1.3);
	    transform:scale(1.3);
	}

	.news-content .news-media a:after{
	    content:'\f065';
	    position:absolute;
	    width:100%;
	    top:0;
	    left:0;
	    font-family:FontAwesome;
	    font-size:32px;
	    line-height:80px;
	    text-align:center;
	    color:#5CC9DF;
	    -webkit-transform:scale(0);
	    transform:scale(0);
	    opacity:0;
	    -webkit-transition:all .2s ease-out .1s;
	    transition:all .2s ease-out .1s;
	}

	.news-content .news-media.video a:after{
	    content:'\f04b';
	}

	.news-content .news-media a:hover:after{
	    -webkit-transform:scale(1);
	    transform:scale(1);
	    opacity:1;
	}

	.news-content .news-media.gallery{
	    box-shadow:4px 4px 0 #bbb,8px 8px 0 #ddd;
	}


/*******************************************************************************************************/
/* =PORTFOLIO                                                                     */
/*******************************************************************************************************/



	#snip-port{
	    background: #f1f1f1; 
	    padding: 50px 0 400px 0; 

	}

	.categories ul {
	    list-style:none;
	    margin:0;
	    margin-bottom:20px;
	    text-align:center;  
	}

	.categories ul li{
	    display:inline-block;
	    padding:0;
	    line-height:24px;
	    background:transparent;
	    margin:0;
	    margin-left:5px;
	    margin-bottom:10px;
	}

	.categories ul li a{
	    display:block;
	    font-size:18px;
	    font-weight:500;
	    padding:10px 20px;
	    border-radius:5px;
	    border:2px solid transparent;
	    -webkit-transition:all .2s ease-out;
	    transition:all .2s ease-out;
	}

	.categories ul li a,
	.categories ul li a:active,
	.categories ul li a:hover{
	    line-height:24px;
	    background:#fff;
	    color:#4E5961;
	    text-decoration:none;
	}

	.categories ul li a:hover,
	.categories ul li.active a{
	    color:#fff;
	    background:#f06862;
	}

	.projects-container .row{
	    -webkit-transition:height .5s ease-out;
	    transition:height .5s ease-out;
	}

	.portfolio-item {
	    position:relative;
		margin-bottom:30px;
		-webkit-transform:scale(1);
		transform:scale(1);
		opacity:1;
		-webkit-transition:all .4s ease-out;
		transition:all .4s ease-out;
	}

	.portfolio-item.filtered {
		-webkit-transform:scale(0.5);
		transform:scale(0.5);
		opacity:0.2;
		cursor:default;
	}

	.no-opacity .portfolio-item.filtered {
		display:none;
	}

	.portfolio-item.filtered a{
		cursor:default;
	}

	.portfolio-item.filtered .enlarge,
	.portfolio-item.filtered .link,
	.portfolio-item.filtered .overlay-mask,
	.portfolio-item.filtered .project-title{
	    display:none;
	}

	.portfolio-thumb {
	    display:block;
	    position:relative;
	    box-shadow:0 2px 5px rgba(0,0,0,0.08);
	    overflow:hidden;
	}

	.scrollimation .portfolio-thumb {
		-webkit-transform:translateY(100px);
		transform:translateY(100px);
		opacity:0;
		-webkit-transition:opacity .4s ease-out, -webkit-transform .4s ease-out;
		transition:opacity .4s ease-out, transform .4s ease-out;
	}

	.touch .scrollimation .portfolio-thumb,
	.scrollimation .portfolio-thumb.in {
		-webkit-transform:translateY(0px);
		transform:translateY(0px);
		opacity:1;
	}

	.portfolio-thumb .overlay-mask{
	    position:absolute;
	    top:0;
	    left:0;
	    width:100%;
	    height:100%;
	    background:#5CC9DF;
	    opacity:0;
		filter:alpha(opacity=0);
	    z-index:1;
	    -webkit-transition:opacity .3s ease-out;
	    transition:opacity .3s ease-out;
	}


	.portfolio-thumb:hover .overlay-mask {
	    opacity:0.8;
		filter:alpha(opacity=80);
	}

	.portfolio-thumb .enlarge,
	.portfolio-thumb .link{
	    display:inline-block;
	    margin:0;
	    margin-top:-25px;
	    font-size:50px;
	    line-height:50px;
	    color:#fff;
	    opacity:0;
		filter:alpha(opacity=0);
	    position:absolute;
	    height:50px;
	    width:64px;
	    top:40%;
	    left:50%;
	    text-align:center;
	    z-index:3;

	}

	.portfolio-thumb .enlarge{
	    margin-left:-84px;
	    -webkit-transform:translateX(-200px);
	    transform:translateX(-200px);
	    -webkit-transition:all .3s ease-out;
	    transition:all .3s ease-out;
	}

	.portfolio-thumb:hover .enlarge{
	    -webkit-transform:translateX(0);
	    transform:translateX(0);
	    opacity:1;
		filter:alpha(opacity=100);
	    -webkit-transition:all .3s ease-out .3s;
	    transition:all .3s ease-out .3s;
	}

	.portfolio-thumb .link{
	    margin-left:20px;
	    -webkit-transform:translateX(200px);
	    transform:translateX(200px);
	    -webkit-transition:all .3s ease-out;
	    transition:all .3s ease-out;
	}

	.portfolio-thumb:hover .link{
	    -webkit-transform:translate(0);
	    transform:translate(0);
	    opacity:1;
		filter:alpha(opacity=100);
	    -webkit-transition:all .3s ease-out .6s;
	    transition:all .3s ease-out .6s;
	}

	.portfolio-thumb .enlarge.centered,
	.portfolio-thumb .link.centered{
	    margin-left:-32px;
	    -webkit-transform:translateY(-200px);
	    transform:translateY(-200px);
	    -webkit-transition-delay:0s;
	    transition-delay:0s;
	}

	.portfolio-thumb:hover .enlarge.centered,
	.portfolio-thumb:hover .link.centered{
	    -webkit-transform:translateY(0);
	    transform:translateY(0);
	    -webkit-transition-delay:0.3s;
	    transition-delay:0.3s;
	}

	.portfolio-thumb .project-title {
	    display:block;
	    width:100%;
	    position:absolute;
	    bottom:-100px;
	    background:#fff;
	    margin:0;
	    padding:20px 0;
	    font-size:21px;
	    font-weight:300;
	    color:#777;
	    text-align:center;
	    z-index:2;
	    -webkit-transition:bottom .4s ease-out,color .2s ease-out;
	    transition:bottom .4s ease-out,color .2s ease-out;
	}

	.portfolio-thumb:hover .project-title {
	    bottom:0;
	    -webkit-transition:bottom .3s ease-out .1s,color .2s ease-out 0s;
	    transition:bottom .3s ease-out .1s,color .2s ease-out 0s;
	}

	.portfolio-thumb .project-title:hover {
	    color:#5CC9DF;
	} 





