/***********************/
/* =COLORS FOR THE COLORS PAGE   */
/***********************/

		.colors-list li {
			padding: 5px 10px;
			margin: 10px;
			border: 1px solid rgba(0,0,0,.1);

		}



		.bg-1 {
			background-color: #f8f8f8;
		}

		.bg-2 {
			background-color: #252a2a;
		}

		.bg-3 {
			background-color: #677171;
		}

		.bg-4 {
			background-color: #0ea5a0;
		}

		.bg-5 {
			background-color: #8b5fa4;
		}

		.bg-6 {
			background-color: #464e4e;
		}

		.bg-7 {
			background-color: #7d8484;
		}

		.bg-8 {
			background-color: #ccc;
		}

		.bg-9 {
			background-color: #1b738a;
		}

		.bg-10 {
			background-color: #384141;
		}

		.bg-11{
			background-color: #f7f7f7;
		}

		.bg-12{
			background-color: #1d1e21;
		}

		.bg-13{
			background-color: #4c5058;
		}

		.bg-14{
			background-color: #838994;
		}

		.bg-15{
			background-color: #f9461c;
		}

		.bg-16{
			background-color: #00b9e4;
		}

		.bg-17{
			background-color: #36363c;
		}

		.bg-18{
			background-color: #4C66A4;
		}

		.bg-19{
			background-color: #00ACEE;
		}

		.bg-20{
			background-color: #;
		}