<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>radio click through #2 - CodePen</title>

    <link rel="stylesheet" href="css/style.css" media="screen" type="text/css" />

</head>

<body>

  <div id="gal">
  <nav class="galnav">
    <ul>
      <li>
        <input type="radio" name="btn" value="one" checked="checked"/>
        <label for="btn"></label>
        <figure>
          <img src="https://dl.dropboxusercontent.com/u/330966/static/iphone6infinity/new/01_Fabio_Basile.jpg"/>
          <figcaption>
            <h4>Fabio Basile</h4>
              <nav role='navigation'>
                <p>iPhone 6 Infinity</p>
                <ul>
                  <li><a href="http://dribbble.com/toxinide" class="entypo-dribbble"></a></li>
                  <li><a href="https://twitter.com/fffabs" class="entypo-twitter"></a></li>
                </ul>
              </nav>  
          </figcaption>
        </figure>
      </li>
      <li>
        <input type="radio" name="btn" value="two"/>
        <label for="btn"></label>
         <figure class="entypo-forward">
          <img src="https://dl.dropboxusercontent.com/u/330966/static/iphone6infinity/new/08_Brian_Miller.jpg"/>
          <figcaption>
            <h4>Brian Miller</h4>
              <nav role='navigation'>
                <p>TypeTi.me</p>
                <ul>
                  <li><a href="http://dribbble.com/BMDG" class="entypo-dribbble"></a></li>
                  <li><a href="https://twitter.com/BMDG" class="entypo-twitter"></a></li>
                </ul>
              </nav>  
          </figcaption>
        </figure>
      </li>
      <li>
        <input type="radio" name="btn" value="three"/>
        <label for="btn"></label>
        <figure class="entypo-forward">
          <img src="https://dl.dropboxusercontent.com/u/330966/static/iphone6infinity/new/05_Nicolas_Quod.jpg"/>
          <figcaption>
            <h4>Nicolas Quod</h4>
              <nav role='navigation'>
                <p>Iphone 6 - Notification - iOS 7</p>
                <ul>
                  <li><a href="http://dribbble.com/NicolasQuod" class="entypo-dribbble"></a></li>
                  <li><a href="https://twitter.com/@NicolasQuod" class="entypo-twitter"></a></li>
                </ul>
              </nav>  
          </figcaption>
        </figure>
      </li>
      <li>
        <input type="radio" name="btn" value="four"/>
        <label for="btn"></label>
         <figure class="entypo-forward">
          <img src="https://dl.dropboxusercontent.com/u/330966/static/iphone6infinity/new/04_Joffrey.jpg"/>
          <figcaption>
            <h4>Joffrey</h4>
              <nav role='navigation'>
                <p>▽</p>
                <ul>
                  <li><a href="http://dribbble.com/joffrey" class="entypo-dribbble"></a></li>
                  <li><a href="https://twitter.com/joffrey" class="entypo-twitter"></a></li>
                </ul>
              </nav>  
          </figcaption>
        </figure>
      </li>
      <li>
        <input type="radio" name="btn" value="five"/>
        <label for="btn"></label>
         <figure class="entypo-forward">
          <img src="https://dl.dropboxusercontent.com/u/330966/static/iphone6infinity/new/09_Jared_Long.jpg"/>
          <figcaption>
            <h4>Jared Long</h4>
              <nav role='navigation'>
                <p>Don't drop your iPhone Infinity</p>
                <ul>
                  <li><a href="http://dribbble.com/designmylife" class="entypo-dribbble"></a></li>
                  <li><a href="http://www.behance.net/designmylife" class="entypo-behance"></a></li>
                </ul>
              </nav>  
          </figcaption>
        </figure>
      </li>
      <li>
        <input type="radio" name="btn" value="six"/>
        <label for="btn"></label>
         <figure class="entypo-forward">
          <img src="https://dl.dropboxusercontent.com/u/330966/static/iphone6infinity/new/02_Charles_Treece.jpg"/>
          <figcaption>
            <h4>Charles Treece</h4>
              <nav role='navigation'>
                <p>iPhone 6 Infinity Side Status Bar</p>
                <ul>
                  <li><a href="http://dribbble.com/CharlesTreece" class="entypo-dribbble"></a></li>
                  <li><a href="https://twitter.com/CharlesTreece" class="entypo-twitter"></a></li>
                </ul>
              </nav>  
          </figcaption>
        </figure>
      </li>
    </ul>
  </nav>
</div>
        <h2>A click through box showing a <a href="http://dribbble.com/shots/1190633-iPhone-6-Infinity?list=users" target="_blank">dribbble shot</a> (by Fabio Basile) plus rebounds</h2>

</body>

</html>